[submodule "submodules/openshift-ansible"]
	path = submodules/openshift-ansible
	url = https://github.com/openshift/openshift-ansible.git
[submodule "submodules/kubespray"]
	path = submodules/kubespray
	url = https://github.com/kubernetes-incubator/kubespray.git
[submodule "submodules/kubeadm2ha"]
	path = submodules/kubeadm2ha
	url = https://github.com/joshuacox/kubeadm2ha.git
[submodule "submodules/rook"]
	path = submodules/rook
	url = https://github.com/rook/rook.git
[submodule "submodules/istio"]
	path = submodules/istio
	url = https://github.com/istio/istio.git
[submodule "submodules/pupernetes"]
	path = submodules/pupernetes
	url = https://github.com/DataDog/pupernetes.git
[submodule "submodules/opendistro-build"]
	path = submodules/opendistro-build
	url = https://github.com/opendistro-for-elasticsearch/opendistro-build
[submodule "submodules/opensearch-devops"]
	path = submodules/opensearch-devops
	url = https://github.com/opensearch-project/opensearch-devops.git
[submodule "submodules/nomad-on-kubernetes"]
	path = submodules/nomad-on-kubernetes
	url = https://github.com/joshuacox/nomad-on-kubernetes.git
