[submodule "submodules/openshift-ansible"]
	path = submodules/openshift-ansible
	url = https://github.com/openshift/openshift-ansible.git
[submodule "submodules/kubespray"]
	path = submodules/kubespray
	url = https://github.com/kubernetes-incubator/kubespray.git
[submodule "submodules/kubeadm2ha"]
	path = submodules/kubeadm2ha
	url = https://github.com/joshuacox/kubeadm2ha.git
